/* Global customization */

:root {
  --code-max-height: 60rem;
}

body {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* This is way too narrow. */
.container {
    max-width: 95%;
}/* Light mode theming */
:root,
:root[color-theme="light"] {
  --header-background: #144594;
  --header-font-color: #ffffff;
  --button-background: #4C7BF5;
  --button-border-color: #88A5FF;
  --accent-color: #4E78C5;
  --accent-color-lite: #EBF5FF;
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #144594;
    --header-font-color: #ffffff;
    --button-background: #4C7BF5;
    --button-border-color: #88A5FF;
    --accent-color: #4E78C5;
    --accent-color-lite: #EBF5FF;
  }
}

/* Dark mode theming */
:root[color-theme="dark"] {
  --header-background: #002C73;
  --header-font-color: #ffffff;
  --button-background: #4C7BF5;
  --button-border-color: #88A5FF;
  --accent-color: #181a1d;
  --accent-color-lite: #24282c;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-background: #002C73;
    --header-font-color: #ffffff;
    --button-background: #4C7BF5;
    --button-border-color: #88A5FF;
    --accent-color: #181a1d;
    --accent-color-lite: #24282c;
  }
}

.gdoc-header {
border-bottom: 4px solid #FFA147;
}

.gdoc-brand__img {
    margin-right: 1rem;
    width: 50%;
    height: 50%;
}

.gdoc-header {
    font-family: inherit;
}

@media screen and (min-width:39rem) {
.gdoc-brand__title {
    display: none;
    }
}

/* Check for elements to apply dark mode on. */
:root .gdoc-hint.danger {
    border-left-color: var(--gdoc-hint-danger-border);
    background-color: var(--gdoc-hint-danger-background);
    color: var(--gdoc-hint-text-color);
    filter: brightness(1.15) !important;
}
:root .gdoc-hint.warning {
    border-left-color: var(--gdoc-hint-warning-border);
    background-color: var(--gdoc-hint-warning-background);
    color: var(--gdoc-hint-text-color);
    filter: brightness(1.15) !important;
}

:root .gdoc-hint.info {
    border-left-color: var(--gdoc-hint-info-border);
    background-color: var(--gdoc-hint-info-background);
    color: var(--gdoc-hint-text-color);
    filter: brightness(1.15) !important;
}

video {
	max-width: 100%;
	border-radius: .15rem;	
}

.gdoc-menu-header {
  display: flex;
  align-items: center;
}

.gdoc-menu-header > * {
  margin-left: 0.5rem;
}

.img-comparison{
  display: flex;
  justify-content: space-around;
}