/* Global customization */

:root {
  --code-max-height: 60rem;
}

body {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* This is way too narrow. */
.container {
    max-width: 95%;
}

/* Light mode theming */
:root,
:root[color-mode="light"] {
  --header-background: #144594;
  --header-font-color: #ffffff;

  --body-background: #ffffff;
  --body-font-color: #000000;

  --button-background: #3357B5;
  --button-border-color: #4E74C5;

  --link-color: #C54906;
  --link-color-visited: #C54906;

  --code-background: #f5f6f8;
  --code-accent-color: #e3e7eb;
  --code-accent-color-lite: #eff1f3;

  --accent-color: #4E78C5;
  --accent-color-lite: #EBF5FF;

  --control-icons: #9CB3C7;

  --footer-background: #144594;
  --footer-font-color: #ffffff;
  --footer-link-color: #ffcc5c;
  --footer-link-color-visited: #ffcc5c;

  --gdoc-hint-danger-border: #d50000;
  --gdoc-hint-warning-border: #ffab00;
  --gdoc-hint-info-border: #0091ea;

  --gdoc-hint-danger-background: #fdf2f2;
  --gdoc-hint-warning-background: #fdfaf4;
  --gdoc-hint-info-background: #f3f9fd;

  --gdoc-hint-text-color: var(--body-font-color);
}
@media (prefers-color-scheme: light) {
  :root {
    --header-background: #144594;
    --header-font-color: #ffffff;

    --body-background: #ffffff;
    --body-font-color: #000000;

    --button-background: #3357B5;
    --button-border-color: #4E74C5;

    --link-color: #C54906;
    --link-color-visited: #C54906;

    --code-background: #f5f6f8;
    --code-accent-color: #e3e7eb;
    --code-accent-color-lite: #eff1f3;

    --accent-color: #4E78C5;
    --accent-color-lite: #EBF5FF;

    --control-icons: #b2bac1;

    --footer-background: #144594;
    --footer-font-color: #ffffff;
    --footer-link-color: #ffcc5c;
    --footer-link-color-visited: #ffcc5c;

    --gdoc-hint-danger-border: #d50000;
    --gdoc-hint-warning-border: #ffab00;
    --gdoc-hint-info-border: #0091ea;

    --gdoc-hint-danger-background: #fdf2f2;
    --gdoc-hint-warning-background: #fdfaf4;
    --gdoc-hint-info-background: #f3f9fd;

    --gdoc-hint-text-color: var(--body-font-color);
  }
}

/* Dark mode theming */
:root[color-mode="dark"] {
  --header-background: #002C73;
  --header-font-color: #ffffff;

  --body-background: #0F1621;
  --body-font-color: #D5D9F5;

  --button-background: #4C7BF5;
  --button-border-color: #88A5FF;

  --link-color: #FFD3A5;
  --link-color-visited: #FFD3A5;

  --code-background: #2f353a;
  --code-accent-color: #262b2f;
  --code-accent-color-lite: #2b3035;

  --accent-color: #2b3035;
  --accent-color-lite: #14315E;

  --control-icons: #b2bac1;

  --footer-background: #002C73;
  --footer-font-color: #D5D9F5;
  --footer-link-color: #ffcc5c;
  --footer-link-color-visited: #ffcc5c;

  --gdoc-hint-danger-border: rgb(156, 20, 16); 
  --gdoc-hint-warning-border: rgb(174, 127, 34);
  --gdoc-hint-info-border: rgb(37, 113, 155);

  --gdoc-hint-danger-background: rgb(45, 13, 11);
  --gdoc-hint-warning-background: rgb(50, 38, 17);
  --gdoc-hint-info-background: rgb(40, 40, 40);

  --gdoc-hint-text-color: var(--body-font-color);
}
@media (prefers-color-scheme: dark) {
  :root {
  --header-background: #002C73;
  --header-font-color: #ffffff;

  --body-background: #0F1621;
  --body-font-color: #D5D9F5;

  --button-background: #4C7BF5;
  --button-border-color: #88A5FF;

  --link-color: #FFD3A5;
  --link-color-visited: #FFD3A5;

  --code-background: #2f353a;
  --code-accent-color: #262b2f;
  --code-accent-color-lite: #2b3035;

  --accent-color: #2b3035;
  --accent-color-lite: #14315E;

  --control-icons: #b2bac1;

  --footer-background: #002C73;
  --footer-font-color: #D5D9F5;
  --footer-link-color: #ffcc5c;
  --footer-link-color-visited: #ffcc5c;

  --gdoc-hint-danger-border: rgb(156, 20, 16); 
  --gdoc-hint-warning-border: rgb(174, 127, 34);
  --gdoc-hint-info-border: rgb(37, 113, 155);

  --gdoc-hint-danger-background: rgb(45, 13, 11);
  --gdoc-hint-warning-background: rgb(50, 38, 17);
  --gdoc-hint-info-background: rgb(40, 40, 40);

  --gdoc-hint-text-color: var(--body-font-color);
  }
}

.gdoc-header {
border-bottom: 4px solid #FFA147;
}

.gdoc-brand__img {
    margin-right: 1rem;
    width: 50%;
    height: 50%;
}

.gdoc-header {
    font-family: inherit;
}

@media screen and (min-width:39rem) {
.gdoc-brand__title {
    display: none;
    }
}

/* Check for elements to apply dark mode on. */
:root .gdoc-hint.danger {
    border-left-color: var(--gdoc-hint-danger-border);
    background-color: var(--gdoc-hint-danger-background);
    color: var(--gdoc-hint-text-color);
    filter: brightness(1.15) !important;
}
:root .gdoc-hint.warning {
    border-left-color: var(--gdoc-hint-warning-border);
    background-color: var(--gdoc-hint-warning-background);
    color: var(--gdoc-hint-text-color);
    filter: brightness(1.15) !important;
}

:root .gdoc-hint.info {
    border-left-color: var(--gdoc-hint-info-border);
    background-color: var(--gdoc-hint-info-background);
    color: var(--gdoc-hint-text-color);
    filter: brightness(1.15) !important;
}

video {
	max-width: 100%;
	border-radius: .15rem;	
}

.gdoc-menu-header a {
  color: var(--footer-link-color);
}

.gdoc-menu-header a:visited {
  color: var(--footer-link-color-visited);
}

.gdoc-menu-header {
  display: flex;
  align-items: center;
}

.gdoc-menu-header > * {
  margin-left: 0.5rem;
}