:root {
    --base-font-family     : "IBM Plex Sans", "Noto Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-font-size: 17px;
    --theme-color   : #08357d;
    
    --link-color:   rgb(197, 73, 6);
    --heading-h1-font-weight            : var(--strong-font-weight);
    --heading-h2-font-weight            : var(--strong-font-weight);
    
    /* Sidebar */
    --sidebar-background                          : var(--theme-color);
    --sidebar-nav-link-color                      : #C7D9EF;
    --sidebar-nav-link-color--active              : #FFFFFF;
    --sidebar-nav-link-background-color--active   : #2271F0;
    --sidebar-nav-link-font-weight--active        : var(--strong-font-weight);
    --sidebar-nav-strong-color: #81b1ff;
  }
