:root {
  --base-font-family     : "IBM Plex Sans", "Noto Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --base-font-size: 17px;
  --base-line-height     : 1.5;
  --theme-color   : #08357d;
  
  --link-color:   rgb(197, 73, 6);
 
  /* Headings */
	--heading-h1-font-weight            : var(--strong-font-weight);
	--heading-h2-font-weight            : var(--strong-font-weight);
	--heading-h1-margin: 0rem;
	--heading-h2-border-width: 0;
	--heading-h2-margin: 2rem 0 1rem 0;
	--heading-h3-margin: 1.8rem 0 0 0;
	--heading-h4-margin: 1.75rem 0 0 0;
    --heading-h2-padding: 0;
    --heading-h3-padding: 0;
    --heading-h4-padding: 0;
    --heading-h5-padding: 0;
    
  /* Sidebar */
  --sidebar-background                          : var(--theme-color);
  --sidebar-nav-link-color                      : #C7D9EF;
  --sidebar-nav-link-color--active              : #FFFFFF;
  --sidebar-nav-link-background-color--active   : #86b5ff;
  --sidebar-nav-link-font-weight--active        : var(--strong-font-weight);
  --sidebar-nav-strong-color 				  	  : #FFFFFF;
  --sidebar-nav-strong-margin                   : 0.6em 0 0em;
  --sidebar-nav-margin                          : 0,5rem 0 0;
  --sidebar-nav-strong-border-width				: 0;
}

li.level-1 strong {
	cursor: pointer;
}

li.level-1 strong:hover {
	text-decoration: underline;
}