:root {
    --base-font-family     : "IBM Plex Sans", "Noto Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --base-font-size: 17px;
    --theme-color   : #144594;
    --base-color    : black;
    
    --link-color:   rgb(197, 73, 6);
    --heading-h1-font-weight            : var(--strong-font-weight);
    --heading-h1-color				:  #000000;
    --heading-h2-font-weight            : var(--strong-font-weight);
    --heading-h2-color				: var(--theme-color);
    --heading-h3-color				: #1870bd;
    --heading-h4-color				: #1870bd;
    --heading-h5-color				: #1870bd;
	--heading-h6-color				: #1870bd;
    
    /* Sidebar */
    --sidebar-background                          : var(--theme-color);
    --sidebar-nav-link-color                      : #C7D9EF;
    --sidebar-nav-link-color--active              : #FFFFFF;
    --sidebar-nav-link-background-color--active   : #2271F0;
    --sidebar-nav-link-font-weight--active        : var(--strong-font-weight);
    --sidebar-toggle-background                   : #EAF2FF;
  }
